Package: com.null.disablequickphonenumberlogin
Name: DisableQuickPhoneNumberLogin
Version: 1.0
Architecture: iphoneos-arm
Description: 禁止第三方App使用您的手机号一键登录
Maintainer: null
Author: null
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
